.kanban {
    margin-left: 18.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*grid-template-columns: 1fr 0.3fr;*/
    position: relative;
    top: -26rem;
   /*  border: 2px solid var(--background);
    background: rgb(47, 47, 63);*/
    height: 15vh;
    padding: 1rem;
}
.kanban h3 {
    font-size: 2rem;
    font-weight: 600;
    font-family: sans-serif;
}
.add {
    cursor: pointer;
}
.add h4 {
    font-size: 1rem;
    font-weight: 600;
    font-family: sans-serif;
    border: 1px solid #635FC7;
    background: #635FC7;
    padding: 1rem;
    height: 20px;
    width: 20vh;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add h4:hover {
    background: var(--background);
}
@media (max-width:1000px) {
    .kanban {
        position: relative;
        left: -1.4rem;
        width: 65vh;
        top: -26rem;
    }
}
@media (max-width:400px) {
    .kanban {
        display: grid;
        grid-template-columns: .3fr 1fr;
        position: relative;
        left: -6.4rem;
        width: 65vh;
        top: -26rem;
    }
}


