.whole {
    display: grid;
    align-items: center;
    justify-content: center;
    /*margin-left: 22rem;*/
    /*height: 90vh;
    border-radius: 10px;
    background: rgb(55, 54, 54);
    overflow-x: scroll;*/
    width: 40vw;
}
.task {
    display: grid;
    height: 50vh;
    position: relative;
    left: 22rem;
    border-radius: 10px;
    background: rgb(55, 54, 54);
    margin: 1rem;
    padding: 1rem;
    overflow-y: scroll;
}
.do h1 {
    color: white;
    font-family: sans-serif;
}
.title {
    position: relative;
    top: -2rem;
}
.title h6 {
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
}
.dif {
    position: relative;
    top: -1.5rem;
    width: 50vh;
    height: 4vh;
    border-radius: 10px;
    background: rgb(118, 116, 116);
}
.dif:hover {
    border-color: rgb(129, 22, 229);
}
::placeholder {
    color: white;
}
.description {
    position: relative;
    top: -4.5rem;
}
.description h6 {
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
}
.describe {
    position: relative;
    top: -1.5rem;
    width: 58vh;
    height: 13vh;
    border-radius: 10px;
    background: rgb(118, 116, 116);
}
.describe:hover {
    border-color: rgb(129, 22, 229);
}
.sub-task {
    position: relative;
    top: -6.5rem;
}
.sub-task h6 {
    color: rgb(118, 116, 116);
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 300;
}
.trash {
    display: flex;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -1.5rem;
    left: 2rem;
}
.diff {
    display: grid;
    gap: 1rem;
    position: relative;
    top: -1.5rem;
    width: 50vh;
    height: 4vh;
    border-radius: 10px;
    background: rgb(118, 116, 116);
}
.diff:hover {
    border-color: rgb(129, 22, 229);
}
.sub {
    /*border: 2px solid white;
    background: white;
    position: relative;
    top: 4rem;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    height: 6vh;
    width: 30vw;*/
    cursor: pointer;
}
.sub h5 {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: sans-serif;
    color: rgb(129, 22, 229);
    
}
.status {
    position: relative;
    top: -6.9rem;
}
.status h6 {
    color: rgb(118, 116, 116);
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 300;
}
.select {
    border: 2px solid rgb(118, 116, 116);
    width: 60vh;
    height: 6vh;
    border-radius: 10px;
    position: relative;
    top: -1rem;
    background: rgb(118, 116, 116);
    cursor: pointer;
}
.select:hover {
    border-color: rgb(129, 22, 229);
}
.work {
    position: relative;
    top: -6rem;
    border: 2px solid rgb(129, 22, 229);
    background: rgb(129, 22, 229);
    display: flex;
    justify-content: center;
    border-radius: 50px;
    height: 6vh;
}
.work h5 {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
}
@media  (max-width: 1000px) {
    .task {
        width: 70vw;
        position: relative;
        left: 15rem;
    }
}