.large {
    display: grid;
    /*grid-template-columns: 0.1fr 4fr;*/
    gap: 1rem;
    width: 16.7vw;
    position: relative;
    top: -0.5rem;
    height: 50vh;
}
/*.large, .Sidebar {
    width: 10vh;
    min-width: 100%;
    background: rgb(36, 36, 51);
}*/
aside {
    height: 100vh;
    border: 2px solid rgba(255, 255, 255, 0);
    background: rgb(36, 36, 51);
}
/*.Sidebar, .collapsed {
    width: 80px;
    min-width: 80px;
}*/
.image, img {
   /* display: flex;
    justify-content: center;*/
    margin-top: 1.6rem;
}
.obj {
    position: relative;
    top: 2rem;
}
.obj h3 {
    font-size: 1.5rem;
    font-family: sans-serif;
    color: rgb(170, 127, 210);
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    position: inherit;
}
.obj h3:hover {
    background: white;
    border: 1px solid grey;
    background: grey;
    height: 2vh ;
    width: 20vh;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    padding: 1rem;
}
.button {
    cursor: pointer;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    color: rgb(170, 127, 210);
    display: flex;
    gap: 1rem;
}
.button h4 {
    font-size: 1.2rem;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover {
    background: white;
    border: 1px solid grey;
    background: grey;
    height: 2vh ;
    width: 30vh;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    /*align-items: center;
    justify-content: center;*/
    padding: 1rem;
}
.closeMenu {
    color: #000;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    top: 24rem;
}
.closeMenu p {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.closeMenu p:hover {
    border: 2px solid rgb(129, 22, 229);
    height: 6vh;
    color: white;
    background: rgb(129, 22, 229);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}
.kanban {
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(53, 53, 60);
    background: rgb(53, 53, 60);
    height: 20vh;
    position: relative;
    left: -1rem;
    height: 12vh;
    padding: 1rem;
}
.kanban h3 {
    font-size: 2rem;
    font-weight: 600;
    font-family: sans-serif;
}
.add {
    cursor: pointer;
}
.add h4 {
    font-size: 1rem;
    font-weight: 600;
    font-family: sans-serif;
    border: 1px solid #635FC7;
    background: #635FC7;
    padding: 1rem;
    height: 20px;
    border-radius: 50px;
    /*position: relative;
    left: -5rem;*/
}
.add h4:hover {
    background: white;
}
@media (max-width: 1000px) {
    .large {
        width: 38vw;
    }
}
