.large {
    display: grid;
    /*grid-template-columns: 0.1fr 4fr;*/
    gap: 1rem;
    width: 18.7vw;
    position: relative;
    height: 50vh;
    top: -1rem;
}
/*.large, .Sidebar {
    width: 10vh;
    min-width: 100%;
    background: rgb(36, 36, 51);
}*/
.aside {
    height: 100vh;
    width: 19.9vw;
    border: 2px solid var(--background);
    background: var(--background);
    box-shadow: 3px 10px 2px var(--background);
}
/*.Sidebar, .collapsed {
    width: 80px;
    min-width: 80px;
}*/
.image, img {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 1.6rem;
    position: relative;
    top: -0.4rem;
}
.obj {
    position: relative;
    top: 2rem;
}
.obj h3 {
    font-size: 1.5rem;
    font-family: sans-serif;
    color: rgb(170, 127, 210);
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    position: inherit;
}
.obj h3:hover {
    background: white;
    /*border: 1px solid grey;
    background: grey;*/
    height: 2vh ;
    width: 20vh;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    padding: 1rem;
}
.button {
    cursor: pointer;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    color: rgb(170, 127, 210);
    display: flex;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button h4 {
    font-size: 1.2rem;
    font-family: sans-serif;
}
.button h4:hover {
    background: white;
    border: 1px solid grey;
    background: grey;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    /*align-items: center;
    justify-content: center;*/
}
.closeMenu {
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    top: 40rem;
}
.closeMenu p {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.closeMenu p:hover {
    border: 2px solid rgb(129, 22, 229);
    height: 6vh;
    color: white;
    background: rgb(129, 22, 229);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}
.add h4:hover {
    background: white;
}
@media (max-width: 1000px) {
    .large {
        position: relative;
        top: 0%;
    }
    .aside {
        width: 38vw;
    }
}
@media (max-width: 400px) {
    .aside {
        width: 38vw;
        position: relative;
        top: 0;
        height: 90vh;
    }
    .image, img {
        position: relative;
        top: 0.7rem;
    }
}
